@media only screen and (max-width: 768px) {
    .header__section-right {
        padding-left: 58px !important;
    }
}

@media only screen and (max-width: 993px) {
    header {
    }

    .menu--items {
        display: none !important;
    }

    .header__section-left {
        display: flex;
        order: 1;
        justify-content: center;
    }

    .header__section-right {
        display: block;
        order: 0;
        text-align: center;

    }

    .header__section-right h1 {
        font-size: 20px;
    }

    .header__section-right p {


    }

    .header__section-left img {
        width: inherit;
    }

    .menu-left {
        display: none !important;
    }

    .section__slogan div{
        width: 66% !important;
    }

    .logo_wrapped {
        display: flex;
        margin: 0 auto;
    }

    .section_img{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1200px) {
    .header__section-left img {
        width: inherit;

    }
    .header__section-right {

    }

    .header__section-right h1 {
        font-size: 24px !important;
    }

    .header__section-right p {
        font-size: 16px !important;
        line-height: 34px;
    }

   @media only screen and (min-width:1350px ) {
       .section_img img{
           width: 400px;
       }
   }
}
